@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bize aşağıdaki bilgilerden ulaşabilirsiniz.<br />
    Kağıthane Çeliktepe İstanbul<br />
    <abbr title="Phone">Telefon Numarası:</abbr>
    444 44 44
</address>

<address>
    <strong>Destek:</strong>   ataberk112233@hotmail.com</a><br />
</address>