@{
    ViewBag.Title = "Anasayfa";
}

<div class="jumbotron">
    <h1>Keyifli eğitimin adresi.</h1>
    <p class="lead">Uzaktan eğitim sitemize hoş geldiniz.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sağ üst taraftan kayıt olabilirsiniz.</h2>
        <p>
            Kayıt olmadığınız sürece sınırlı erişime sahip olacaksınız.İletişim bölümündeki destek mailiyle bize ulaşabilir ve hertürlü desteği isteyebilirsiniz.
        </p>
    </div>
    <div class="col-md-4">
        <h2>İlköğretim dersleri %50 indirimle sizinle</h2>
        <p>İlk öğretim 6,7 ve 8 sınıf derslerini alarak %50 indirimden faydalanabilir ve derslerinizde başarılı olabilirsiniz.</p>
    </div>
    <div class="col-md-4">
        <h2>Derslerinizin zayıf olmasından sıkıldınız mı, o zaman çözüm bizde</h2>
        <p>Hocalarımız özenle seçilmiş ve çok deneyimli oldukları için artık derslerinizde başarılı olacaksınız bize mail atarak 1 hafta ücretsiz üyelik alabilir ve başarınızı gözlemleyebilirsiniz.</p>