@{
    ViewBag.Title = "Şifremi Unuttum";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Lütfen mailinizi kontrol ediniz ve şifrenizi sıfırlayınız.
    </p>
</div>
	
